In [1]:
print("hello")
print("hai")
print("good morning")

hello
hai
good morning

In [ ]:
c

### list:

In [2]:
list1 = [1,2,3,4,5]
list1.append(6)
list1.append(7)
print(list1)
list1.insert(2,10)
print(list1)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 10, 3, 4, 5, 6, 7]

In [3]:
list1 = [1,2,3,4,5]
list1.pop(1)
print(list1)
list1.remove(4)
print(list1)
list1.clear()
print(list1)

[1, 3, 4, 5]
[1, 3, 5]
[]

In [4]:
list1 = [1,2,3,4,5]
list1.reverse()
print(list1)

[5, 4, 3, 2, 1]

## tuple:()immutable,indexed,ordered,duplicate values

In [7]:
tup1 = (1,2,3,4,5)
print(tup1[3])

4

In [8]:
tup1 = (1,2,3,4,5)
print(tup1.index(4))
print(tup1.count(4))

3
1

### set:{},unindexed,mutable,it does not allow duplicate values

In [11]:
set1 = {1,2,3,3}
set2 = {2,4,4,5}
print(set1)
set1.add(4)
print(set1)
set1.pop()
print(set1)
set1.remove(2)
print(set1)
print("union",set1.union(set2))
print("intersection",set1.intersection(set2))
print(set1.issubset(set2))
print(set1.issuperset(set2))

{1, 2, 3}
{1, 2, 3, 4}
{2, 3, 4}
{3, 4}
union {2, 3, 4, 5}
intersection {4}
False
False